body{
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    background-color: #15161B;
}

header{
    display: flex;
    justify-content: center;
}

.logo h2{
    color: #fff;
    font-size: 30px;
}

.logo span{
    color: #1A7993;
}

.bloco-1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.area-escrita h3{
    color: #fff;
    font-weight: normal;
}

.area-escrita h1{
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    margin-top: -16px;
}

.area-escrita a{
    display: inline-block;
    background-color: #1A7993;
    padding: 15px 60px;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.area-escrita a:hover{
    background-color: #115264;
    transition: 0.4s all;
}

.imagem1 img{
    width: 460px;
    height: auto;
    margin-top: 20px;
    margin-left: 55px;
}

/*AREA DE CARDS*/

.bloco-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.bloco-cards h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
}
.cards{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.card{
    background-color: #2C2F37;
    width: 200px;
    height: 180px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}


.card:hover{
    background-color: #115264;
    transition: 0.4s all;
}

.card img{
    width: 65px;
}

/*SEGUNDO BLOCO DE ESCRITA*/

.bloco-2{
    background-color: #115264;
    height: 342px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;
}

.area-escrita2 h1{
    color: #fff;
    font-size: 35px;

}

.area-escrita2 h3{
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-top: -26px;
}

.area-escrita2 a{
    display: inline-block;
    background-color: #fff;
    padding: 20px 85px;
    border-radius: 15px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

.area-escrita2 a:hover{
    background-color:#1A7993;
    transition: 0.4s all;
}
.imagem2 img{
    width: 280px;
    height: auto;
    margin-top: 5px;
    margin-left: 100px;
}

/*PARTE DO FORMULARIO*/
.area-formulario{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

.area-formulario h2{
    color: #fff;
    text-align: center;
}
.form form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
}

.form input{
    margin-top: 20px;
    padding-left: 10px;
    height: 40px;
    border: none;
    outline: none;
    font-family: 'Oswald';
}

input::placeholder{
    color: #000;
    text-transform: uppercase;
}

input[type="submit"]{
    background-color: #1A7993;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    height: 55px;
    cursor: pointer;
    border-radius: 10px;
}

input[type="submit"]:hover{
    background-color: #115264;
    transition: 0.4s all;
}

footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.social{
    color: #fff;
    font-weight: normal;
}

.social img{
    width: 30px;
    margin-left: 15px;
}